body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(195, 197, 199);
        margin: 0;
        overflow: hidden; /* Забороняє прокручування сторінки */
    
}
.vil{
    position: absolute;
    
}
h1{
    
    position: absolute;
    margin-left: 25px;
    margin-top: 240px;
    color: red;
    text-align: center;
   
}
#fullscreen-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заповнює весь екран */
}